/* first page jumbotron/links to game modes and rules? need a styling for page/elements
*/
/*
Want to style player names with a border when its their turn
Change text content depending on player turn as well
*/
header {
    grid-area: header;
}
.playerOne {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: blue;
    display: block;
}
.playerOneIndicator {
    background-color: blue;
}
.playerTwo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: red;
    display: block;
}
.playerTwoIndicator {
    background-color: red;
}
/* .restartGameButton{
}
.endGameButton {
} */
.rows {
    grid-area: rows;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 25px;
    display: block;
    background-color: whitesmoke;
}
.columns {
    grid-area: columns;
    display: inline-block;
    background-color: bisque;
    padding: 10px;
}


body {
    display: grid;
   
    grid-auto-flow: row;

}
